.sidebarSection {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.25s;

  .containerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 1.25rem;
    border-radius: 10px;

    cursor: pointer;

    transition: all 0.25s;

    .left {
      display: flex;
      align-items: center;
      gap: 1rem;

      .iconWrapper {
        position: relative;
        width: 1rem;
        height: 1rem;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.25s;

          &:nth-child(1) {
            opacity: 1;
          }
          &:nth-child(2) {
            opacity: 0;
          }
        }
      }
      .title {
        white-space: nowrap;
        color: #6b7a99;
        font-weight: 700;
        font-size: 0.75rem;
        text-transform: capitalize;
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
      align-items: center;

      .countWrapper {
        height: 2rem;
        aspect-ratio: 1 / 1;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        color: #6b7a99;
        font-weight: 900;
        background: white;
      }

      .toggle {
        width: 1rem;
        height: 1rem;
        position: relative;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;

          transition: all 0.25s;
        }

        &.toggled {
          img {
            transform: scale(-1);
          }
        }
      }
    }

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }
  }

  .itemsWrapper {
    align-self: flex-end;
    top: 100%;
    width: 95%;
    display: none;
    flex-direction: column;
    gap: 0.5rem;

    transition: all 0.25s;

    &.toggled {
      display: flex;
    }
  }
}

// .left {
//   .iconWrapper {
//     img {
//       &:nth-child(1) {
//         opacity: 0;
//       }
//       &:nth-child(2) {
//         opacity: 1;
//       }
//     }
//   }
// }
