.filePlaceholder {
  background-color: #f0f0f0;
  transition: all 0.2s;
  border-radius: 5px;
  border: 2px dashed #9394a5;

  &.dark {
    background-color: #1d2125;
  }

  .iconWrapper {
    font-size: 2rem;
  }
}
